
/* Mise en forme de l'image de fond de la page */
body {
  font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
  color:rgb(8, 8, 8);
  background-image: url('FOND.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background: position 100%;;
  background-position:center center;
}

/* Mise en forme de la barre de recherche*/
.search {
  height: 35px;
  display: table;
  margin: 0 auto;
  padding-top: 250px;
  overflow: hidden;
}

.ddg_search {
  overflow: hidden;
  margin: 0;
  padding: 0px 0px 0px 10px;
  width: 300px;
  height: 40px;
  border-radius: 0px;
  background-color: #2d2d2d;
  color: white;
  border-color: #353535;
}
/* Mise en forme du bouton de la barre de recherche */
.ddg_search_button {
  float: right;
  height: 44px;
  width: 43px;
  border: 0;
  background-color: #353535;
  transition: background-color 0.1s;
  cursor: pointer;
  color: white;
}

.ddg_search_button svg {
  fill: white;
  height: 15px;
  width: 15px;
}

.ddg_search_button:hover {
  background-color: #1a1919;
}

/* Mise en forme des elements de titre */

h1
{
  font-size: 24px;
  text-shadow: -1px -1px #eee, 1px 1px #888, -3px 0 4px #000;
  font-family:"Segoe print", Arial, Helvetica, sans-serif;
  color:#ccc;
  padding:16px;
  font-weight:lighter;
  -moz-box-shadow: 2px 2px 6px #888;  
  -webkit-box-shadow: 2px 2px 6px #888;  
  box-shadow:2px 2px 6px rgb(0, 0, 0);  
  text-align:right;
  display:inline;
  line-height:92px;
}

h2
{
  font-size: 24px;
  text-shadow: -1px -1px #eee, 1px 1px #888, -3px 0 4px #000;
  font-family:"Segoe print", Arial, Helvetica, sans-serif;
  color:#ccc;
  padding:16px;
  font-weight:lighter;
  -moz-box-shadow: 2px 2px 6px #888;  
  -webkit-box-shadow: 2px 2px 6px #888;  
  box-shadow:2px 2px 6px rgb(0, 0, 0);  
  text-align:left;
  display:inline;
  line-height:92px;
}

/* Mise en forme du menu */

ul.menu1 {
	float: left;
	width: 300px;
	margin: 0;
	padding: 0;
	list-style: none;
  background-color: #a7a7a7;
  margin:50px;
}
ul.menu1 li a{
	color: #474747;
	font-size:14px;
	font-weight:bold;
	text-decoration: none;
	display: block;
	width: 280px;
	padding: 10px;
	border-bottom: 1px solid #474747;
    text-shadow: #dddddd 0px 1px 1px;
}
ul.menu1 li a:hover{
	background:url(imagemenu.jpg) 0 0 repeat-x #d7d7d7;
    text-shadow: #ededed 0px 1px 1px;
}
ul.menu1 li span{	
	display: none;
	font-size:11px;
	font-weight:100;
}
ul.menu1 li a:hover span {
	display: block;
	padding:5px 0 0 0;
}